h1 {
    text-align: center;
    color: gold;
    font-weight: bolder;
}

body {
    background-color: rgb(2, 2, 3);
    color: gold;
    text-align: center;
    font-family: "Nunito", helvetica, arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color

}

a {
    color: gold;
}

a:hover {
    color: azure;
    font-weight: bolder;
}

section {
    border-radius: 1px #ddd;
    padding: 15px;
    margin: 20px;
    box-shadow: 0 0 5px #aaa;
}

nav {
    text-align: start;
}

p {
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media screen and ( orientation: landscape) and (min-width: 768px) {
    .container {
        max-width: 90%;
    }
}