.name {
    background-color: azure;
    color: rgb(4, 4, 131);
    text-align: center;
    margin: 0;
    position: relative;
    
}

body {
    background-color: black;
    color: snow;
    flex-wrap: wrap;
    font-family: "Nunito", helvetica, arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    align-items: center;
}

body nav {
    text-align: left;
}

body footer {
    text-align: center;
    clear: both; width: 100%; height: 20%;
}
a {
    color: snow;
}

a:hover {
    color: gold
}

h2 {
    text-align: start;
    font-weight: bolder;
    font-size: 30px;
    
}
h3 {
    text-align: left justify;
    line-height: 1.5;
    
}

p {
    text-align: left justify;
    line-height: 1.5;
    
}



section {
     width: 100%;
}

section p {
    background-color: black;
    color: silver

@media screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media screen and ( orientation: landscape) and (min-width: 768px) {
    .container {
        max-width: 90%;
    }
}

.item {
    background-color: black;
}
.container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:  1fr 1fr;
        grid-gap: 5px;
        
}
#variety {
    margin-right: 0;
}
.container2 {
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  1fr;
    grid-gap: 10px;
    margin-right: 10%;
    margin-left: 10%;
    
}
.explain {
    grid-template-columns: auto auto;
    display: grid;
    margin:0;
}
#camera {
    align-items: center;
    text-align: center;
}
#camera .container{
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    margin-bottom: 0;
}

